<section class="product__container">
    <div class="procuct-image__container">
        <img src="/assets/monitor-1.jpg">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">Monitor 27 polegadas</h2>
        <h3 class="product__price">R$ 1.250</h3>
        <p>Estoque disponível:</p>
        <label>
            Quantidade:
            <input type="number">
            unidade(s)
        </label>
        <p class="product__avaiabilyt">
            10 unidades em estoque
        </p>
        <button>Adicionar ao carrinho</button>
    </div>
</section>